[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pyright = "*"
mypy = "*"

[requires]
python_version = "3.12"

[scripts]
start = "python main.py"
check = "mypy src tests main.py"
